$backgroundColor: #efefef;
$radius: 40%;

form {
  display: flex;
  // margin: auto;
  width: 400px;
  // position: absolute;
  // top: 17%;
  /* float: right; */
  left: 32%;

  label:nth-child(1) {
    display: flex;
    margin: 1rem 0;

    input {
      box-sizing: border-box;
      display: block;
      width: 40rem;
      height: 2rem;
      // border: 3px solid currentColor;
      border-radius: 8px;
      border: none;
      padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
      // color: currentColor;
      // background-color: red;
      // border-radius: var(--size-radius);
      margin-left: 30px;
      
    }
    
          ::-webkit-input-placeholder {
          padding-left: 5px;
          }


    &.methods {
      // padding-left: 4rem;
      // span {
      //   // cursor: pointer;
      //   // margin-right: 1rem;
      //   // padding: .25rem .5rem;
      //   // background: #5499C7;
      //   // // border-block-color: black;
      //   // border-style: solid;
      //   // border-radius: .5rem;
      //   // color: #fff;

      //   // &:hover,
      //   // &.active {
      //   //   background: #fff;
      //   //   color: black;
      //   // }
      // }
    }

    select {
      border: 3px solid currentColor;
      margin-left: 4rem;
      font-size: 20px;
      font-weight: 500px;
      text-align: center;
      ;
    }



  }

  button {
    // font-size: 1.5rem;
    // background-color: #58D68D;
    margin-left: 4rem;
    appearance: none;
    background-color: #3498DB;
    // border-radius: 40em;
    border-style: none;
    // box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.24px;
    // margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  button:hover {
    background-color: #82E0AA;
    color: black;
    // box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
    border-color: black;
    border-style: solid;

  }

  button:active {
    transform: scale(1.025);
  }

  @media (min-width: 768px) {
    button {
      font-size: 1.5rem;
      padding: .75rem 2rem;
    }
  }
}