$backgroundColor: #f5f5f5;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #EBF5FB;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 23px;
  }

  #body {
    display: flex;
    margin-top: 24px;
    padding-left: 14px;

    #method {
      display: flex;
      background-color: aqua;
      width: 100%;
      flex: 40%;

      div:nth-child(1) {
        background-color: blue;
        height: 31px;
        color: white;
        border-radius: 8px;
        width: 54px;
        font-size: 19px;
        text-align: center;
        padding-top: 6px;
      }
      div:nth-child(1):hover{
        background-color: white;
        color: black;
      }
    }
  }

}
